<div
  class="lg:w-3/5 bg-gray-50 p-6 pb-2 mt-4 shadow-xl text-gray-600 tracking-wider mx-auto"
>
  <div class="p-2 flex justify-between border-b-2 border-b-gray-300">
    <img src="../../assets/angular.png" alt="" />
    <div>
      <p class="text-2xl">Angular and Typescript Quiz</p>
      <span>Welcome user</span>
    </div>
  </div>
  <div class="p-5 flex justify-between border-b-2 border-b-gray-300">
    <p>0 points</p>
    <p>
      Question {{ currentQuestion + 1 }} of {{ questionsList.length }} questions
    </p>
    <p>59 sec</p>
  </div>
  <div class="p-2" *ngIf="questionsList[currentQuestion]">
    <p class="p-4 border border-gray-300 m-2">
      {{ questionsList[currentQuestion].questionText }}
    </p>
    <ol
      *ngFor="let option of questionsList[currentQuestion].options"
      (click)="verifyAnswer()"
    >
      <li
        class="p-3 m-2 border border-gray-300"
        appBgchange
        [isCorrect]="option.correct"
        [ngClass]="{ correct: correctAnswer }"
      >
        {{ option.text }}
      </li>
    </ol>
    <div class="mt-2 p-5 flex justify-around">
      <button (click)="prevQuestion()" [disabled]="currentQuestion === 0">
        <fa-icon [icon]="faPrev"></fa-icon>
      </button>
      <button (click)="resetQuiz()">
        <fa-icon [icon]="faReset"></fa-icon>
      </button>
      <button
        (click)="nextQuestion()"
        [disabled]="currentQuestion === questionsList.length - 1"
      >
        <fa-icon [icon]="faNext"></fa-icon>
      </button>
    </div>
  </div>
</div>
